.container
  h3 {{adoptee.lastName}}, {{adoptee.firstName}}
  .row
    .col-md-6
      h3 Created on {{adoptee.createDate | date}}

    .col-md-6
      .panel.panel-primary
        .panel-heading Phone Number(s)
        .panel-body
          div(ng-repeat="tag in adoptee.phones") {{phone.type}} {{phone.number}} {{phone.name}}