.container
  .modal.fade(id="siteModal", tabindex="-1", role="dialog")
        .modal-dialog
            .modal-content
                form(name="siteForm" id="siteForm", class="form-horizontal", novalidate)
                    .modal-header
                        h4.modal-title Select Site
                    div.modal-body
                        .row
                            .col-md-12
                                input.radio-inline(name="siteOptions", type="radio", ng-model="adoptee.site" value="L")
                                label.control-label(for="adoptee.site") &nbsp Let's Help
                        .row
                            .col-md-12
                                input.radio-inline(name="siteOptions", type="radio", ng-model="adoptee.site" value="A")
                                label.control-label(for="adoptee.site") &nbsp Antioch Center
                        .row
                            .col-md-12
                                input.radio-inline(name="siteOptions", type="radio", ng-model="adoptee.site" value="O")
                                label.control-label(for="adoptee.site") &nbsp Other
                    div.modal-footer
                        button.btn.btn-default(data-ng-click="saveSite(adoptee.site)", data-ng-disabled="siteForm.$invalid || (adoptee.site | filter: {selected:true} : true).length===0") Save