.container
    .page-header
        h1 {{adopteeTitle || adoptee.firstName + ' ' + adoptee.lastName}}&nbsp;
            small
                | &nbsp;{{adoptee.status}}
            small(ng-show="adoptee.status == 'Matched'")
                | &nbsp;with&nbsp;
                a(href="/adopters/{{adoptee._adopterId._id}}") {{adoptee._adopterId.name}}
            small.pull-right(ng-switch="adoptee.site")
                img(src="/assets/image/antioch.png", ng-switch-when="A")
                img(src="/assets/image/letshelp.png", ng-switch-when="L")
                | &nbsp;{{sites[adoptee.site]}}
            span
                a(href="/adoptees/{{adoptee._id}}/form")
                    .badge.pull-right(ng-show="adoptee.applicationNumber") {{adoptee.site + '-' + adoptee.applicationNumber}}
    .row
        .col-span-12
            img(ng-src="form.attachment")