.container
  .page-header
    h1 Edit Adopter
  form(role="form", name="form")
    .panel.panel-default
      .panel-heading.clearfix
        h3.panel-title.pull-left {{adopter.name}}
        a.pull-right(href="", confirm-click="delete()", confirm-class="btn btn-danger btn-xs", confirm-text="Confirm Delete", ng-disabled="busy()", ng-if="permission.delete")
          i.glyphicon.glyphicon-remove
      .panel-body
          fieldset
            .row
              .col-sm-3
                .form-group
                  select.form-control(ng-model="adopter.entity", ng-options="e for e in enums.entity")
              .col-sm-4.col-md-3(ng-class="{'col-sm-6 col-md-5': adopter.entity == 'Individual'}")
                .form-group(ng-class="{'has-error': form.name.$invalid && (submitted || form.name.$dirty)}")
                  input.form-control(type="text", name="name", placeholder="Name", required, ng-model="adopter.name")
              .col-sm-4.col-md-3(ng-if="adopter.entity == 'Organization' || adopter.entity == 'Deptartment'")
                .form-group(ng-class="{'has-error': form.org.$invalid && (submitted || form.org.$dirty)}")
                  input.form-control(type="text", name="org", placeholder="Organization", required, ng-model="adopter.org")
              .col-sm-4.col-md-3(ng-if="adopter.entity == 'Deptartment'")
                .form-group(ng-class="{'has-error': form.dept.$invalid && (submitted || form.dept.$dirty)}")
                  input.form-control(type="text", name="dept", placeholder="Deptartment", required, ng-model="adopter.dept")
          fieldset
            legend Address
            .row
              .col-sm-4
                .form-group
                  input.form-control(type="text", name="address", placeholder="Address", ng-model="adopter.address.street")
              .col-sm-3.col-md-4
                .form-group
                  input.form-control(type="text", name="city", placeholder="City", ng-model="adopter.address.city")
              .col-sm-2
                .form-group
                  select.form-control(name="state", ng-model="adopter.address.state" ng-options="e for e in enums.state")
                    option(disabled value="") State
              .col-sm-3.col-md-2
                .form-group
                  input.form-control(type="text", name="zip", placeholder="Zip", ng-model="adopter.address.zip")
          fieldset
            legend Phone
            .row(ng-repeat="p in adopter.phones", ng-form="phoneForm", ng-class="{'has-error': phoneForm.number.$invalid && (submitted || phoneForm.number.$dirty)}")
              .col-sm-3
                .form-group
                  input.form-control(type="text", name="number", placeholder="Phone", ng-model="p.number", ng-required="$first")
              .col-sm-3
                .form-group
                  select.form-control(name="name", ng-model="p.name", ng-options="e for e in enums.phone")
              .col-sm-6
                .form-group(ng-hide="$first")
                  a.btn.btn-link(href="", tabindex="-1", ng-click="deletePhone(p)")
                    i.glyphicon.glyphicon-remove
            .row
              .col-sm-12
                .form-group
                  a.btn.btn-link(href="", ng-click="addPhone()") Add new
          fieldset
            legend Notification Method
            .row
              .col-sm-6
                .form-group
                  label.checkbox-inline(ng-repeat="e in enums.notify")
                    input(type="checkbox", ng-value="e", ng-click="setFlags(adopter.notifyMethods, e)", ng-checked="adopter.notifyMethods.indexOf(e) > -1")
                    | {{e}}
                  p.help-block Method for receiving household information
              .col-sm-6
                .form-group(ng-class="{'has-error': form.email.$invalid && (submitted || form.email.$dirty)}")
                  input.form-control(type="email", name="email", placeholder="Email", required, ng-model="adopter.email", ng-if="adopter.notifyMethods.indexOf('Email') > -1")
          div(data-criteriaset data-criteria="adopter.criteria" data-enums="enums")
      .panel-footer
        .btn-toolbar.text-right
          button.btn.btn-primary(ng-click="savePlus(form)") Save and New
          button.btn.btn-primary(ng-click="save(form)") Save
          button.btn.btn-default(ng-click="cancel()", ng-disabled="busy()") Cancel
