.container
  h1 {{adopter.name || 'New Adopter'}}&nbsp;
    small {{adopter.org}}
  .panel.panel-default
    .panel-heading
      h3.panel-title Adopter Information
    .panel-body
      form
        .row
          .col-sm-3
            .form-group
              select.form-control(name="name", ng-model="adopter.entity", required, ng-options="t for t in entityTypes")
          .col-sm-4.col-md-3(ng-class="{'col-sm-6 col-md-5': adopter.entity == 'Individual'}")
            .form-group
              input.form-control(type="text", name="name", placeholder="Name", ng-model="adopter.name", required)
          .col-sm-4.col-md-3(ng-show="adopter.entity == 'Organization' || adopter.entity == 'Deptartment'")
            .form-group
              input.form-control(type="text", name="org", placeholder="Organization", ng-model="adopter.org", required)
          .col-sm-4.col-md-3(ng-show="adopter.entity == 'Deptartment'")
            .form-group
              input.form-control(type="text", name="dept", placeholder="Deptartment", ng-model="adopter.dept", required)
        .row
          .col-sm-4
            .form-group
              input.form-control(type="text", name="address", placeholder="Address", ng-model="adopter.address.street")
          .col-sm-3.col-md-4
            .form-group
              input.form-control(type="text", name="city", placeholder="City", ng-model="adopter.address.city")
          .col-sm-2
            .form-group
              select.form-control(name="state", ng-model="adopter.address.state" ng-options="s as s for s in states")
                option(disabled value="") State
          .col-sm-3.col-md-2
            .form-group
              input.form-control(type="text", name="zip", placeholder="Zip", ng-model="adopter.address.zip")
    .panel-footer.clearfix
      button.btn.btn-primary.pull-right(ng-click="save()") Save