fieldset(id="criteriaForm", ng-form="criteriaForm")
  legend(ng-if="title") {{title}}
    a.pull-right.collapse-toggle(href="", tabindex="-1", data-toggle="collapse", data-target="#criteriaForm .collapse")
      i.glyphicon.glyphicon-chevron-up
  .row.collapse.in
    .col-sm-5
      .form-group
        label Number of Households
        input.form-control(type="number", name="count", placeholder="Number of households", min="1", ng-model="criteria.count")
  .row.collapse.in
    .col-sm-7
      .form-group
        label Household Types
        .checkbox(ng-repeat="e in enums.household")
          label
            input(type="checkbox", name="household", ng-value="e", ng-click="setFlags(criteria.households, e)", ng-checked="criteria.households.indexOf(e) > -1", ng-disabled="disabled.household")
            | {{e}}
    .col-sm-5
      .form-group
        label Children's Ages
        .checkbox(ng-repeat="e in enums.age")
          label
            input(type="checkbox", name="age", ng-value="e", ng-click="setFlags(criteria.childAges, e)", ng-checked="criteria.childAges.indexOf(e) > -1")
            | {{e}}
      .form-group
        label Special Needs
        .checkbox(ng-repeat="e in enums.special")
          label
            input(type="checkbox", name="special", ng-value="e", ng-click="setFlags(criteria.special, e)", ng-checked="criteria.special.indexOf(e) > -1")
            | {{e}}
  .row.collapse.in
    .col-sm-12
      .form-group
        label Comments
        textarea.form-control(name="comment", rows="3", placeholder="Comments", ng-model="criteria.comment")
