fieldset(ng-form="criteriaForm")
  legend Adoption Options
  .row
    .col-sm-4
      .form-group
        input.form-control(type="number", name="count", placeholder="Number of households", min="1", ng-model="criteria.count")
  .row
    .col-sm-7
      .form-group
        label Household types
        .checkbox(ng-repeat="e in enums.household")
          label
            input(type="checkbox", ng-value="e", ng-click="setFlags(criteria.households, e)", ng-checked="criteria.households.indexOf(e) > -1")
            | {{e}}
    .col-sm-5
      .form-group
        label Children's ages
        .checkbox(ng-repeat="e in enums.age")
          label
            input(type="checkbox", ng-value="e", ng-click="setFlags(criteria.childAges, e)", ng-checked="criteria.childAges.indexOf(e) > -1")
            | {{e}}
      .form-group
        label Additional options
        .checkbox(ng-repeat="e in enums.special")
          label
            input(type="checkbox", ng-value="e", ng-click="setFlags(criteria.special, e)", ng-checked="criteria.special.indexOf(e) > -1")
            | {{e}}
  .row
    .col-sm-12
      textarea.form-control(rows="3", placeholder="Comments", ng-model="criteria.comment")
