body
  padding-top 69px

.navbar-header a.navbar-brand
  margin-top -15px
  margin-bottom -20px
  h6
    color #ccc

footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #00529B

.navbar-form
  .form-group
    margin-left 10px
  button
    margin-left 10px

.top-padding-med
  padding-top 10px

.margin-left-med
  margin-left 10px

.toast-top-right
  top 70px

.toast-success
  background-color #778DC1

.btn-toolbar
  margin-left -5px
  & > .input-group-filter
    width 15em
  & > .input-group-sort
    & > input[disabled]
      cursor default
      background-color transparent

.btn-toolbar .btn-group,
.btn-toolbar .input-group
  float left

.btn-toolbar > .btn,
.btn-toolbar > .btn-group,
.btn-toolbar > .input-group
  margin-left 5px

.form-inline
  .input-group
    display inline-table
    vertical-align middle

.input-group
  .form-control
    position relative
    z-index 2
    float left
    width 100%
    margin-bottom 0

.btn-toolbar > .input-group-sort,
.btn-toolbar > .input-group-sort .dropdown-menu
  width 22em

.input-group-page
  display inline-table
  width 14em

.btn-add
  border-radius 100%

