html
head
body
    div(class="align-right")
        img(src="http://topekacb.org/assets/image/uw-logo.png" width="100")
        img(src="http://topekacb.org/assets/image/cb-logo-green.png" width="80")    
    div(class="section")
        span(class="header")
            Basic Information        
        div(class="content") 
            span Name: #{name}
            br
            span Address: #{address}