extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") Topeka Christmas Bureau
          h6 Family Adoption Management
      .navbar-collapse.collapse(data-ng-controller="mvNavBarLoginCtrl")
        ul.nav.navbar-nav(ng-if="identity.isAuthenticated()")
          li
            a(href="/") Home
          li
            a(href="/adoptees") Adoptees
          li
            a(href="/adopters") Adopters
          li
            a(href="/admin/users" data-ng-if="identity.isAuthorized('admin')") Users
        div(ng-include="'/partials/account/navbar-login'")

  section.content
    div(ng-view)

  footer.container.text-center
    p.top-padding-med &copy; 2014 Topeka Christmas Bureau.  Powered by volunteers at
        a(href="http://nxidis.github.io/topekacb" target="_blank")
            img(src="/assets/image/se2logoSmall.png")
