table.table.table-hover
  thead
    tr
      th Name
      th Group/Company
      th Dept Name
      th Households
      th 
  tbody
    tr(ng-repeat="adopter in adopterSearchResults.data" ng-click="selectAdopter(adopter)")
      td {{adopter.name}}
      td {{adopter.org}}
      td {{adopter.dept}}
      td {{adopter.criteria.count}}
      td 
        a(href="adopters/{{adopter._id}}")
          i(class="glyphicon glyphicon-pencil")
    tr(ng-if="adopterSearchResults.len == 0")
      td No Data Available