.panel.panel-default(ng-if="adopter.criteria")
  .panel-heading.clearfix
    .pull-right
      .label.label-default {{adopter.criteria.count - adopter.adoptees.length || ''}}
      | &nbsp;
      .label(class="{{adopter.status == 'Matched' && 'label-success' || 'label-warning'}}") {{adopter.status}}
    .panel-title {{adopter.name}}
  .panel-body
    div(data-criteriaset, data-criteria="adopter.criteria", data-enums="adopter.enums")
    div(ng-controller="AdopterAdopteeCtrl", ng-include="template.adopteeListUrl")
  .panel-footer
    btn-toolbar.pull-right
      button.btn.btn-primary(ng-click="emailAdopter(adopter)") Email
      | &nbsp;
      button.btn.btn-primary(ng-click="printAdopter(adopter)") Print
    btn-toolbar
      button.btn.btn-default(ng-click="getNextAdopter()") Next Adopter
