table.table.table-hover(ng-show="adopteeSearchResults.totalCount > 0")
  thead
    tr.row
        th Name
        th Household Type
        th Members
  tbody
    tr.row(ng-repeat="adoptee in adopteeSearchResults.data" ng-click="selectAdoptee(adoptee)")
        td {{adoptee.lastName + ', ' + adoptee.firstName}}<span>,</span>
        td {{adoptee.criteria.householdType}}
        td {{adoptee.householdMembers.length}}
    tr(ng-if="adopteeSearchResults.totalCount == 0")
        td No Data Available
div(ng-show="!adopteeSearchResults")
    p Select an adopter to view matching adoptees