.panel.panel-default(ng-class="{busy: busy()}")
    table.table.table-hover
        thead
            tr
                th Name
                th Household Type
                th Select
        tbody
            tr(ng-repeat="adoptee in adopteeSearchResults.data" ng-click="selectAdoptee(adoptee)")
                td {{adoptee.lastName + ', ' + adoptee.firstName}}<span>,</span>
                td {{adoptee.criteria.householdType}}
                td
                    a(href="adoptees/{{adoptee._id}}")
                        i(class="glyphicon glyphicon-plus")
            tr(ng-if="adopteeSearchResults.totalCount == 0")
                td No Data Available
.panel-footer(ng-show="adopteeSearchResults.totalCount > 0")
    ul.pager
        li.previous(ng-class="{disabled: adopteePage.current == 1}")
            a(class="editAdoptee" href="" ng-click="getAdopteePage(adopteePage.previous)") Previous
        li
            .input-group.input-group-page
                .input-group-addon Page
                input.form-control(type="number", min="1", max="{{adopteePage.total}}", ng-model="adopteePage.current", ng-change="getAdopteePage(adopteePage.current)")
                .input-group-addon of {{adopteePage.total}}
        li.next(ng-class="{disabled: adopteePage.current == adopteePage.total}")
            a(href="" ng-click="getAdopteePage(adopteePage.next)") Next
