doctype
html
  head
    != newrelic.getBrowserTimingHeader()
    title TopekaCB
    link(href="/unitedway.png", rel="icon", type="image/png")
    link(rel="stylesheet", href="/assets/css/bootstrap.css")
    link(rel="stylesheet", href="/vendor/toastr/toastr.css")
    link(rel="stylesheet", href="/assets/css/site.css")
  body(ng-app='app')
    include currentUser
    block main-content
    include scripts
