.container
  .jumbotron
    h1 TopekaCB
    p Welcome to the Topeka Christmas Bureau Skeleton App.

  .row
    .col-md-6
      div(ng-include="'/partials/main/singleParent-adoptees'")
    .col-md-6
      div(ng-include="'/partials/main/new-adoptees'")