.jumbotron.jumbo-banner
  .container-fluid
    h1 Topeka Christmas Bureau
    h3 Family Adoption Management
.jumbotron.jumbo-content
  .container-fluid
    .row
      .col-sm-4.text-center
        h2 Adoptees
        h3 2,014
      .col-sm-4
        img.img-responsive.center-block(src="/assets/image/cb-logo-temp.png")
      .col-sm-4.text-center
        h2 Adoptions
        h3 1,776