.container
  .jumbotron
    h1 Topeka Christmas Bureau
    .row
      .col-md-4
       img(src="/image/uwlogo.gif")
      .col-md-8
        .row
          .col-lg-6
           label Adoptee Total
           p 2,014
          .col-lg-6
           label Adoption total
           p 1,599
        .row
            .col-md-12
            p Counts last updated September 21, 2014 12:01 pm