.backdrop
  .jumbotron.jumbo-banner
    .container-fluid
      h1 Topeka Christmas Bureau
      h3 Family Adopter Management
  .jumbotron.jumbo-content.text-center
    .container
      .col-md-4
        h2 Adoptees
        h3 2,014
      .col-md-4
        img(src="/assets/image/cb_logo.png")
      .col-md-4
        h2 Adoptions
        h3 1,776
      