.container
  .jumbotron
    .row
      .col-md-2
        img(src="/assets/image/cb-logo-sm.png")
      .col-lg-10
        h1 Topeka Christmas Bureau
        br
        br
    .row
      .col-md-4
        img(src="/assets/image/uwlogo-lg.gif")
      .col-md-4
        img(src="/assets/image/bar-chart.jpg")
      .col-md-4
        img(src="/assets/image/pie-chart.jpg")
    .row
      .col-md-4
      .col-lg-8
         p Counts last updated September 21, 2014 12:01 pm
